<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="BATCH_SIZE" value="30" />
    <add key="STEP_OF_COMPRESSION" value="0.1" />
    <add key="DESTINATION_FOLDER_NAME" value="Discord Formatted" />
    <add key="MAX_DEGREE_OF_PARALLELISM" value="3" />
  </appSettings>
</configuration>